# üî• U.S. Wildfire Trends & Risk Visualization Project

## üß† Project Objective
This project explores wildfire trends in the United States to understand:
- When wildfires are most likely to occur (seasonal patterns)
- Which states and regions are most affected
- The overall impact in terms of frequency, damage, and potential risk

The goal is to create an interactive, visual tool that helps users:
- Identify wildfire-prone states based on time of year
- Understand how wildfire patterns shift month-to-month
- Eventually, estimate the risk of wildfires in specific regions

---

## üó∫Ô∏è Long-Term Vision
- A map of the U.S. with a **time slider or dropdown** (Jan‚ÄìDec)
- **States change color** based on wildfire likelihood during the selected month
- Supporting **charts and graphs** for additional insight (e.g., top 5 states by fire count)
- (Future) Add other disaster types (floods, hurricanes, etc.)
- (Future) Add a prediction model to estimate wildfire risk

---

## üß± Phase 1: Data Analysis & Visualization (Current Phase)
### üîç Focus:
- Work only with wildfires for now
- Use the dataset to answer questions like:
  - What months have the most wildfires?
  - Which states experience wildfires most frequently?
  - Are wildfires increasing over time?
  - (If possible) Which states experience the highest damage or fatalities?

### üõ† Tools:
- Python + Pandas (core)
- Matplotlib / Seaborn (for charts)
- GeoPandas or Plotly / Folium (for maps ‚Äî later in Phase 1)
- Jupyter Notebook
- GitHub for version control

---

## üß≠ What This Project Is NOT (Yet)
- No machine learning models for now (prediction comes later)
- No dashboard just yet (will consider Streamlit/Dash after the base map works)
- No multiple disaster types (we‚Äôre starting with just wildfires to learn and build a solid structure)

---

## ‚úÖ Why This Project?
- To improve my data analysis and visualization skills
- To apply what I'm learning from Codecademy in a real-world context
- To build a portfolio-worthy project that‚Äôs insightful, useful, and expandable

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

details = pd.read_csv("StormEvents_details-ftp_v1.0_d2024_c20250401.csv")
fatalities = pd.read_csv("StormEvents_fatalities-ftp_v1.0_d2024_c20250401.csv")
locations = pd.read_csv("StormEvents_locations-ftp_v1.0_d2024_c20250401.csv")

display(details.head())
display(fatalities.head())
display(locations.head())

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202405,23,1947,202405,23,1947,190907,1180619,OKLAHOMA,40,...,4.0,S,FRIENDSHIP,34.6380,-99.2167,34.6380,-99.2167,Two primary rounds of severe convection occurr...,MPing report.,CSV
1,202411,16,230,202411,18,1421,197838,1223377,OREGON,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A series of cold fronts the weekend of Nov. 16...,The Hog Pass SNOTEL reported an estimated 12 i...,CSV
2,202405,19,1839,202405,19,1902,190905,1184919,OKLAHOMA,40,...,5.0,N,CUSTER CITY,35.7100,-99.0010,35.7370,-98.8910,Significant severe weather occurred across por...,While the large multiple-vortex tornado was ap...,CSV
3,202405,23,2155,202405,23,2155,190907,1180805,OKLAHOMA,40,...,2.0,W,NINNEKAH,34.9501,-97.9523,34.9501,-97.9523,Two primary rounds of severe convection occurr...,Relayed image showing a portable outbuilding b...,CSV
4,202405,24,1405,202405,24,1410,191916,1182348,MISSISSIPPI,28,...,0.0,N,ALGOMA,34.1800,-89.0300,34.1800,-89.0300,An active storm pattern as several mid-level s...,Reports of trees down in Algoma.,CSV

,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,EVENT_YEARMONTH
0,202410,16,0,57962,1211048,D,10/16/2024 00:00:00,NaN,F,In Water,202410
1,202410,19,0,54831,1212790,D,10/19/2024 00:00:00,NaN,NaN,Unknown,202410
2,202405,25,0,53067,1182292,D,05/25/2024 00:00:00,2.0,F,Mobile/Trailer Home,202405
3,202405,25,0,53068,1182292,D,05/25/2024 00:00:00,5.0,M,Mobile/Trailer Home,202405
4,202404,9,0,53096,1190773,I,04/09/2024 00:00:00,64.0,F,Other,202404

,YEARMONTH,EPISODE_ID,EVENT_ID,LOCATION_INDEX,RANGE,AZIMUTH,LOCATION,LATITUDE,LONGITUDE,LAT2,LON2
0,202404,188809,1161227,1,0.90,SW,HAPPY TOWN,33.9900,-81.090,3359400,815400
1,202404,188809,1161228,1,0.00,N,COLUMBIA,34.0000,-81.020,3400,811200
2,202404,188809,1161229,1,0.57,E,COLUMBIA,34.0000,-81.010,3400,81600
3,202404,188809,1161230,1,0.96,S,BALLTOWN,33.5661,-81.730,3333966,8143800
4,202404,188809,1161231,1,0.62,N,COLUMBIA,34.0090,-81.021,34540,811260